git+https://github.com/adrian-the-git/driveclient@master
#git+https://github.com/adrian-the-git/archieml-python.git@v0.3.0
git+https://github.com/adrian-the-git/archieml-python.git@f4f72139f58d5476324a42541f60a5d7b3e74e3e
BeautifulSoup4
couchdb
flask
flask-restful
flask-compress
flask-limiter
fuzzywuzzy<0.13.0
jinja2
langdetect
markdown
plucky
psutil
python-Levenshtein
python-dateutil
python-magic
requests
selenium
unidecode
validators
cerberus
pyicu
oauth2client
google-api-python-client==1.7.4
pyppeteer
