git+https://github.com/adrian-the-git/driveclient@master
git+https://github.com/adrian-the-git/archieml-python.git@v0.3.0
BeautifulSoup4
couchdb
flask
flask-restful
flask-compress
flask-limiter
fuzzywuzzy<0.13.0
jinja2
langdetect
markdown
plucky
psutil
python-Levenshtein
python-dateutil
python-magic
requests
selenium
unidecode
validators
cerberus
pyicu
oauth2client
